TerminalAutogestion/Connected Services/ServiceSOAP/SL_Soap4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Share.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Share.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52171/SL_Soap.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:52171/SL_Soap.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfViajeDisponibleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViajeDisponibleDTO" nillable="true" type="tns:ViajeDisponibleDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViajeDisponibleDTO" nillable="true" type="tns:ArrayOfViajeDisponibleDTO" />
  <xs:complexType name="ViajeDisponibleDTO">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="asientos_disponibles" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="hora" type="ser:duration" />
      <xs:element minOccurs="0" name="parada_id_destino" type="xs:int" />
      <xs:element minOccurs="0" name="parada_id_origen" type="xs:int" />
      <xs:element minOccurs="0" name="precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="viaje_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViajeDisponibleDTO" nillable="true" type="tns:ViajeDisponibleDTO" />
</xs:schema>